# Scratch Files
# ==============================================================================
.DS_Store
**/.scratchpad/*
# ==============================================================================

# Python
**/__pycache__/*

# Secrets
.env